*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea/*
!.idea/copyright
!.idea/icon.png
!.idea/runConfigurations

# App build outputs
app/build/
app/release/

# Gradle
.gradle/

# Log
*.log

# Keystores
*.jks
*.keystore
